mailhub={{ sansible_ssmtp_mailserver_host }}:{{ sansible_ssmtp_mailserver_port }}

{% if sansible_ssmtp_mailserver_root != false %}
Root={{ sansible_ssmtp_mailserver_root }}
{% endif %}
{% if sansible_ssmtp_mailserver_rewritedomain != false %}
RewriteDomain={{ sansible_ssmtp_mailserver_rewritedomain }}
{% endif %}
{% if sansible_ssmtp_mailserver_fromlineoverride != false %}
FromLineOverride={{ sansible_ssmtp_mailserver_fromlineoverride }}
{% endif %}
{% if sansible_ssmtp_use_tls %}
UseTLS=Yes
{% endif %}
{% if sansible_ssmtp_use_start_tls %}
UseSTARTTLS=Yes
{% endif %}
{% if sansible_ssmtp_use_inventory_hostname == true %}
hostname={{ inventory_hostname }}
{% endif %}
{% if sansible_ssmtp_use_inventory_hostname == false and sansible_ssmtp_hostname != '' %}
hostname={{ sansible_ssmtp_hostname }}
{% endif %}
{% if sansible_ssmtp_auth == true %}
AuthUser={{ sansible_ssmtp_mailserver_username }}
AuthPass={{ sansible_ssmtp_mailserver_password }}
{% endif %}
