{{ ansible_managed | comment }}
[Unit]
Description=Victoriametrics
Documentation=https://github.com/VictoriaMetrics/VictoriaMetrics
After=network-online.target
StartLimitInterval=0

[Service]
Type=simple
User={{ victoriametrics_system_user }}
Group={{ victoriametrics_system_group }}
PIDFile=/run/victoriametrics.pid
ExecStart={{ victoriametrics_binary_install_dir }}/victoriametrics \
{% if victoriametrics_config is defined and victoriametrics_config | length > 0 %}
{%   for key, value in victoriametrics_config.items() %}
  -{{ key }}={{ value }} \
{%   endfor %}
{% endif %}
{% if victoriametrics_prometheus_config is defined and victoriametrics_prometheus_config | length > 0 %}
  -promscrape.config={{ victoriametrics_config_dir }}/config.yml \
{% endif %}
  -httpListenAddr={{ victoriametrics_web_listen_address }}:{{ victoriametrics_web_listen_port }} \
  -loggerFormat={{ victoriametrics_log_format }} \
  -loggerLevel={{ victoriametrics_log_level | upper }}

SyslogIdentifier=victoriametrics
Restart=always
RestartSec=30
PrivateTmp=yes
LimitAS=infinity
LimitRSS=infinity
LimitCORE=infinity
LimitNOFILE={{ victoriametrics_limit_nofile | default('16384') }}
LimitMEMLOCK=infinity

[Install]
WantedBy=multi-user.target
