# {{ ansible_managed }}

NFS_CORE_PARAM {
    clustered         = {{ ganesha_nfs_core_param_clustered }};
    drc_disabled      = {{ ganesha_nfs_core_param_drc_disabled }};
    enable_fast_stats = {{ ganesha_nfs_core_param_enable_fast_stats }};
    enable_nlm        = {{ ganesha_nfs_core_param_enable_nlm }};
    enable_rquota     = {{ ganesha_nfs_core_param_enable_rquota }};
    nfs_port          = {{ ganesha_nfs_core_param_nfs_port }};
    nfs_protocols     = {{ ganesha_nfs_core_param_nfs_protocols }};
}
