# {{ ansible_managed }}

unqualified-search-registries = ['docker.io']

[[registry]]
prefix="docker.io"
location="docker.io"

[[registry.mirror]]
prefix="docker.io"
location="mirror.gcr.io"

[[registry]]
prefix="docker.io/library"
location="docker.io/library"

[[registry.mirror]]
prefix="docker.io/library"
location="mirror.gcr.io/library"
