[defaults]
inventory      = ./hosts_nss
#remote_user    = root          # The default is the current user.
#sudo_user      = root
#ask_sudo_pass = True
#ask_pass      = True           # False if using SSH Pubkey
#remote_port    = 22
roles_path    = /etc/ansible/roles:/usr/share/ansible/roles:./roles:../GITHUB
inject_facts_as_vars = false
ansible_managed = Ansible_NSS Managed
