################################################
#
# Galaxy environment variables
# These environment variables sobstitute the galaxy.ini file configuration
# allowing to support both yaml and ini file version.
# FIXME Currently not enabled. Need testing.
#
# ELIXIR-ITALY
# INDIGO-DataCloud
# IBIOM-CNR

# Contributors:
# author: Tangaro Marco
# email: ma.tangaro@ibiom.cnr.it
################################################


#______________________________________
# Galaxy main settings
export GALAXY_CONFIG_DIR=/etc/galaxy
export GALAXY_CONFIG_FILE=$GALAXY_CONFIG_DIR/galaxy.ini
export GALAXY_CONFIG_JOB_CONFIG_FILE=$GALAXY_CONFIG_DIR/job_conf.xml
export GALAXY_CONFIG_BRAND="Galaxycloud INDIGO Build"
export GALAXY_CONFIG_TOOL_DEPENDENCY_DIR=./tool_deps
export GALAXY_CONFIG_ADMIN_USERS={{GALAXY_ADMIN_EMAIL}}
# export GALAXY_CONFIG_MASTER_API_KEY=add_a_secure_string_as_master_api_key

#______________________________________
# POSTGRESQL settings 
# export GALAXY_CONFIG_DATABASE_CONNECTION=postgresql://galaxy:galaxy@localhost:5432/galaxy?client_encoding=utf8 #galaxy db are configured in {{galaxy_config_path}}/galaxy.ini

#______________________________________
# Database path settings
export GALAXY_CONFIG_JOB_WORKING_DIRECTORY={{galaxy_db_dir}}/job_working_directory
export GALAXY_CONFIG_FILE_PATH={{galaxy_db_dir}}/files
export GALAXY_CONFIG_NEW_FILE_PATH={{galaxy_db_dir}}/files
export GALAXY_CONFIG_TEMPLATE_CACHE_PATH={{galaxy_db_dir}}/compiled_templates
export GALAXY_CONFIG_CITATION_CACHE_DATA_DIR={{galaxy_db_dir}}/citations/data
export GALAXY_CONFIG_CITATION_CACHE_LOCK_DIR={{galaxy_db_dir}}/citations/lock
export GALAXY_CONFIG_WHOOSH_INDEX_DIR={{galaxy_db_dir}}/whoosh_indexes
export GALAXY_CONFIG_OBJECT_STORE_CACHE_PATH={{galaxy_db_dir}}/object_store_cache
export GALAXY_CONFIG_CLUSTER_FILES_DIRECTORY={{galaxy_db_dir}}/pbs

#______________________________________
# Conda configuration

#______________________________________
# PROFTPD settings
export GALAXY_CONFIG_FTP_UPLOAD_DIR={{galaxy_db_dir}}/ftp
{% if ansible_virtualization_type == "docker" %}
export GALAXY_CONFIG_FTP_UPLOAD_SITE=elixir-italy.org
{% else %}
export GALAXY_CONFIG_FTP_UPLOAD_SITE="{{ansible_default_ipv4.address}}"
{% endif %}
export GALAXY_CONFIG_USE_PBKDF2=True

#______________________________________
# NGINX settings
export GALAXY_CONFIG_NGINX_X_ACCEL_REDIRECT_BASE=/_x_accel_redirect
export GALAXY_CONFIG_NGINX_X_ARCHIVE_FILES_BASE=/_x_accel_redirect
export GALAXY_CONFIG_NGINX_UPLOAD_STORE={{nginx_upload_store_path}}
export GALAXY_CONFIG_NGINX_UPLOAD_PATH=/_upload

#______________________________________
# uWSGI settings
export UWSGI_PROCESSES={{ uwsgi_processes }}
export UWSGI_THREADS={{ uwsgi_threads }}
export GALAXY_CONFIG_STATIC_ENABLED=False
export GALAXY_CONFIG_TRACK_JOBS_IN_DATABASE=True # The track_jobs_in_database option in galaxy.ini can still be set but should be unnecessary. If there are more than one [server:...] sections in the file, database job tracking will be enabled automatically.

#______________________________________
# Other Galaxy settings
export GALAXY_CONFIG_DYNAMIC_PROXY_MANAGE=False
export GALAXY_CONFIG_VISUALIZATION_PLUGINS_DIRECTORY=config/plugins/visualizations
export GALAXY_CONFIG_TRUST_IPYTHON_NOTEBOOK_CONVERSION=True
export GALAXY_CONFIG_TOOLFORM_UPGRADE=True
#export GALAXY_CONFIG_SANITIZE_ALL_HTML=False
export GALAXY_CONFIG_OVERRIDE_DEBUG=False

#______________________________________
# Galaxy custom welcome page
#export GALAXY_CONFIG_WELCOME_URL={{galaxy_config_path}}/web/welcome.html.
