{{galaxy_log_path}}/uwsgi.log {
  weekly
  rotate 8
  copytruncate
  compress
  missingok
  notifempty
}

{{galaxy_log_path}}/handler*.log {
  weekly
  rotate 8
  copytruncate
  compress
  missingok
  notifempty
}


