# {{ ansible_managed }}

%include ganesha.conf.d/cacheinode.conf
%include ganesha.conf.d/export.conf
%include ganesha.conf.d/export_defaults.conf
%include ganesha.conf.d/nfs_core_param.conf
%include ganesha.conf.d/nfsv4.conf
