agent.auto.register.key={{ sansible_gocd_agent_auto_register_key }}
agent.auto.register.resources={{ sansible_gocd_agent_auto_register_resources }}
agent.auto.register.environments={{ sansible_gocd_agent_auto_register_environments }}
agent.auto.register.hostname={{ sansible_gocd_agent_auto_register_hostname | default(ansible_hostname) }}
