#jinja2: lstrip_blocks: True
# {{ ansible_managed }}

set.AGENT_STARTUP_ARGS=-Xms{{ sansible_gocd_agent_mem }} -Xmx{{ sansible_gocd_agent_max_mem }}
set.SSH_AUTH_SOCK=/home/{{ sansible_gocd_agent_user }}/.ssh/agent-socket

wrapper.app.parameter.100=-serverUrl
wrapper.app.parameter.101={{ sansible_gocd_agent_server_url }}

{% for prop, value in sansible_gocd_agent_properties.items() %}
{{ prop }}={{ value }}
{% endfor %}
