{% for profile in sansible_gocd_agent_aws_profiles %}
[{{ profile.name | default('default') }}]
{% for key, value in profile.config.items() %}
{% if value is mapping %}
{{ key }} =
{% for sub_key, sub_value in value.items() %}
  {{ sub_key }} = {{ sub_value }}
{% endfor %}
{% else%}
{{ key }} = {{ value }}
{% endif %}
{% endfor %}
{% endfor %}
