---
galaxy_info:
  author: buluma
  role_name: moodle
  description: Install and configure moodle on your system.
  license: Apache-2.0
  company: ShadowNet
  min_ansible_version: "2.10"

  platforms:
    - name: EL
      versions:
        - "8"
    - name: Debian
      versions:
        - all
    - name: Fedora
      versions:
        - all
    - name: opensuse
      versions:
        - all
    - name: Ubuntu
      versions:
        - all

  galaxy_tags:
    - moodle

dependencies: []
